* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
<<<<<<< HEAD
  
=======

>>>>>>> ed4f947ac3d1beeb2f1144d1cad09dce3be79609
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
